<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Details</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../../fontawswome/all.min.js"></script>

</head>

<body class="bg-light">

    <section id="navbarSection"></section>

    <div class="container-fluid mt-lg-5">
        <div class="row no-gutters">

            <div class="col-md-7 col-lg-8">
                <img src="" class="productImg" alt="photo here">
            </div>

            <div class="col-md-5 col-lg-4 text-center productDetailsSection bg-warning
                d-flex align-items-center justify-content-center">
                <ul class="list-group w-75">

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Name </span>
                        <span class="productname text-capitalize"></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">price </span>
                        <span class="productprice text-capitalize">price</span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">model </span>
                        <span class="productmodel text-capitalize"></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Number</span>
                        <span class="productssn text-capitalize"></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Waranty </span>
                        <span class="productwaranty text-capitalize"></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Weight </span>
                        <span class="productweight text-capitalize"></span>
                    </li>

                    <li class=" list-group-item  text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Mark </span>
                        <span class="productcompanyMark text-capitalize"></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Duration </span>
                        <span class="productduration text-capitalize "></span>
                    </li>

                    <li class=" list-group-item text-dark productDetails d-flex justify-content-between">
                        <span class="text-capitalize">Quantity </span>
                        <span class=" productquantity text-capitalize"></span>
                    </li>


                    <button type="submit" class="btn btn-outline-success btn-lg mt-5 purchaseCar">Purchase Car</button>

                </ul>
            </div>
        </div>
    </div>


    <section id="similarProductSection" class="mt-4">
        <div class="container-fluid">
            <div class="row similarProducts  m-2 border-primary">

            </div>
        </div>
    </section>


    <section id="footerSection" class="bg-secondary mt-5 text-warning mb-0"></section>


    <script src=" ../../bootstrap/js/bootstrap.bundle.js"> </script>
    <script src="../../jquery/jquery-3.3.1.min.js">
    </script>
    <script src="../commons/navbar.js"></script>
    <script src="../scripts/src.js"></script>
    <script src="../commons/session.js"></script>
</body>

</html>